![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [48]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

In [49]:
# importing and load price data

df_price = pd.read_csv('data/airbnb_price.csv')

df_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [50]:
# import and load room type data

df_room_type = pd.read_excel('data/airbnb_room_type.xlsx') 

df_room_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [51]:
# import and load reviews data

df_reviews = pd.read_csv('data/airbnb_last_review.tsv', sep='\t') 
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [52]:
# merging dataframes

df_airbnb = df_price.merge(df_room_type, on='listing_id') 

df_airbnb.head()

   listing_id  ...        room_type
0        2595  ...  Entire home/apt
1        3831  ...  Entire home/apt
2        5099  ...  Entire home/apt
3        5178  ...     private room
4        5238  ...  Entire home/apt

[5 rows x 5 columns]

In [53]:
# merge 

df_airbnb = df_airbnb.merge(df_reviews, on='listing_id') 

df_airbnb.head()

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [54]:
# Convert the last_review column to datetime 

df_airbnb['last_review'] = pd.to_datetime(df_airbnb['last_review']) 

df_airbnb.head()

   listing_id        price  ...    host_name last_review
0        2595  225 dollars  ...     Jennifer  2019-05-21
1        3831   89 dollars  ...  LisaRoxanne  2019-07-05
2        5099  200 dollars  ...        Chris  2019-06-22
3        5178   79 dollars  ...     Shunichi  2019-06-24
4        5238  150 dollars  ...          Ben  2019-06-09

[5 rows x 7 columns]

In [55]:
# early and latest review dates 

earliest_review_date = df_airbnb['last_review'].min() 
last_review_date = df_airbnb['last_review'].max()

print(earliest_review_date)
print(last_review_date)

2019-01-01 00:00:00
2019-07-09 00:00:00

In [56]:
# check values for room type    
df_airbnb['room_type'].value_counts()

Entire home/apt    8458
Private room       7241
entire home/apt    2665
private room       2248
ENTIRE HOME/APT    2143
PRIVATE ROOM       1867
Shared room         380
shared room         110
SHARED ROOM          97
Name: room_type, dtype: int64

In [57]:
# convert all values to lowercase

df_airbnb['room_type'] = df_airbnb['room_type'].str.lower() 

# count the number of times 'private room' appears in the room type column
private_room_count = df_airbnb['room_type'].value_counts().get('private room', 0)

private_room_count

11356

In [58]:
# strip dollars from price
df_airbnb['price'] = df_airbnb['price'].str.replace(' dollars', '')
df_airbnb.head()

   listing_id price  ...    host_name last_review
0        2595   225  ...     Jennifer  2019-05-21
1        3831    89  ...  LisaRoxanne  2019-07-05
2        5099   200  ...        Chris  2019-06-22
3        5178    79  ...     Shunichi  2019-06-24
4        5238   150  ...          Ben  2019-06-09

[5 rows x 7 columns]

In [59]:
# cast price column to float

df_airbnb['price'] = df_airbnb['price'].astype('float') 
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  float64
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 1.5+ MB

In [60]:
# Average listing price

average_listing_price = round(df_airbnb['price'].mean(), 2)

average_listing_price

141.78

In [61]:
# Creating dataframe with solutions

# review dates dataframe

insights = {
    'first_reviewed': [earliest_review_date],
    'last_reviewed': [last_review_date],
    'nb_private_rooms': [private_room_count],
    'avg_price': [average_listing_price]
}

# Create a dictionary with the insights
# insights = {
#     'private_room_count': [private_room_count],
#     'avg_price': [average_listing_price],
#     'total_listings': [total_listings],
#     'latest_review_date': [latest_review_date]
# }

# Create the DataFrame
review_dates = pd.DataFrame(insights)

review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78